html, body {
	/*font-family: 'Raleway', sans-serif;*/
	/*font-family: 'Montserrat', sans-serif;*/
	/*font-family: 'Titillium Web', sans-serif;*/
	font-family: 'Exo', sans-serif;
}

.home-bg {
	background: url("../img/bg5.jpg") no-repeat fixed;
	background-size: cover;
	min-height: 100vh;
	margin-bottom: 0px;
	/* -webkit-filter: blur(10px); */ /* Safari 6.0 - 9.0 */
    /* filter: blur(10px); */
}

.nav-home {
	min-height: 130px !important;
	height: auto;
	/*background-color: rgba(178,223,219,0.6) !important;*/
	background-color: rgba(255,255,255,0.7) !important;
	/*background: none !important;*/
}

.nav-home li {
	font-size: 24px;
}

#scroll-top-btn {
	display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
   
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

.cursor {
	cursor: pointer;
}

.jfm-footer a{
	color: #B2EBF2;
}
.jfm-footer a:hover{
	color: #B2EBF2;
	text-decoration: underline;
}
.jfm-footer-head a{
	color: #fff;
}

.footer-link {
	cursor: pointer;
}
.footer-link:hover {
	text-decoration: underline;
}


.bg-midnight {
	background-color: #263238;
}
.bg-midnight-fade {
	/*background-color: rgba(38,50,56,1);*/
	background-color: #263238;
}
.bg-white {
	background-color: #fff;
}

.prop-search {
	border: none;
	font-size: 18px;
}
.prop-search:focus {
	 border: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  }
.prop-dropdown {
	border: none;
}
.prop-dropdown:focus {
	 outline: none !important;
  }

.nav > .nav-item {
	border: none;
	background-color: rgba(255,255,255,0.78);
	padding-bottom: -10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.nav > .nav-item > .active {
	border: none;
	height: 100%;
	background-color: #263238;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.nav > .nav-item:hover {
	border: none;
	/*background: white;*/
	background-color: #263238;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  /*border-color: #e9ecef #e9ecef #dee2e6;*/
  border: none;
  border-radius: 0;
}
.nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: none;
}

#submitTestimonial {
	margin:-1px;
}

.listing-img {
	width: 100%;
}

.listing-pagination>li>a,
.listing-pagination>li>span {
  /*color*/
}
.listing-pagination>li.active {
  background: purple;
  color: #fff;
}
/*.btn {
	border: 2px solid red;
}*/


/*FONT AWESOME*/
textarea, input {
	font-family: FontAwesome,'Exo', sans-serif;
}